/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --corners: #ff0070;
  --rec-color: #ff0070;
  --accent-color: #ff0070;
  --menu-color: #ff0070;
  --menu-hover: rgba(255, 0, 112, 0.4);
  --title-color: #db00ff;
  --main-question: #ff0070;
  --accent-color-text: #000028;
  --bg-color: #000028;
  --image-bg: url(../images/cover-image-dark.png);
  --main-text: #f1b2ce;
}
